.browsehappy{
    background-color: $red;
    vertical-align: middle;
    text-align: center;
    font-size: rem(20px);
    color: $white;
    padding: rem(20px) 0;
    margin-bottom: rem(30px);
    
}

.browsehappy__link{
    font-weight: bold;
}