.header{
    background-color: #fff;
    @include box-shadow(0px 1px 3px);
    @extend %clearfix;
}



.header__left, .header__right{
    width: 50%;
    float: left;
    padding: rem(9px) 0;
}

.header__left{
    @include phone{
        width: 70%;
    }
}

.header__right{
    text-align: right;
    padding: rem(25px) 0;
    @include phone{
        width: 30%;
        padding: rem(9px) 0;
    }
}

