.navigation__list-item{
    @include tablet{
        display: inline-block;
    }
}

.navigation__link{
    display: block;
    line-height: 1.33;
    @include fira();
    text-decoration: none;
    color: $black;
    padding-right: rem(25px);
    padding: rem(11px) rem(25px) rem(11px) rem(0px);
    text-align: right;
    border-right: transparent solid rem(6px);
    font-size: rem(18px);

    &:hover{
        color: $blue;
    }

    @include tablet{
        text-align: left;
        border:none;
    }

    @include phone{
        padding: 0;
        padding-right: 1rem;
    }
    
}

.navigation__link .fa{
    @include phone{
        display: none;
    }
}
.navigation__list-item--active{
    .navigation__link{
        color: $blue;
        border-right-color: $blue;
        font-weight: bold;
    }
}